.carousel{
    width: 350px;
    height: 250px;
    
}
.container{
    margin-top: 80px;
}
.submit{
    margin-top: 20px;
    margin-left: 200px
}
.text-add{
    margin-top: 150px;
}
.badge{
    padding: 10px;
}
body{
    background-image:url(images/OIP.jpeg) ;
}