.carousel{
    width: 350px;
    height: 250px;
    
}
.container{
    margin-top: 80px;
}
.submit{
    margin-top: 20px;
    margin-left: 200px
}
.text-add{
    margin-top: 150px;
}
.badge{
    padding: 10px;
    margin: 15px;
}
body{
    background-image:url(images/OIP.jpeg) ;
}
.form-floating{
    margin-top: 50px;
    width: 50%;
    margin-left: 150px;
}
.card img{
    margin-left: 40px;
}
.card img:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}
.card{
    overflow: hidden;
}
.btn-primary{
    align-items: center;
    align-self:center;
}