.carousel{
    width: 350px;
    height: 250px;
    
}
.xx{
    margin-top: 80px;
}
.submit{
    margin-top: 30px;
    
}
.text-add{
    margin-top: 60px;
}
.badge{
    padding: 10px;
    margin: 15px;
}


.form-floating{
    margin-top: 30px;
    
}
.card img{
    margin-left: 40px;
}
.card img:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}
.card{
    overflow: hidden;
    padding: 20px;
}

.container{
    padding: 40px;
}